.myauctionItem{
   width: 90%;
   margin: auto;
}
.section{
    width: 80%;
    margin: auto;
    padding-top: 40px;
}
.itemName{
    width: 350px;
}
.backLinks a{
    color: black;
    padding: 10px;
}

.auctionsTimes{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.startTime{
    width: 140px;
    padding: 0px;
    height: 30px;
}
.status{
    padding: 8px;
    background-color: orange;
    text-transform: capitalize;
    width: 100px;
}

.auctionItemDetails{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}
.maintitles{
    width: 700px;
    margin-top: 0px;
}
.maintitle2{
    margin-top: 20px;
}
.auctionImg{
    width: 400px;
    height: 500px;
    max-height: 500px;
    object-fit:cover;
    float: right;
}
.description{
    font-size: 16px;
    width: 700px;
    line-break: auto;
    line-height: 35px;
    margin-top: 20px;
    height: 300px;
    margin-right: 60px;
}
.smallImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.spans{
    margin-bottom: 10px;
    width: 190px;
}
.publish{
    width: 200px;
    padding: 15px;
    margin-bottom:30px;
    margin-top: 20px;
    font-size: 20px;
    transition: 0.3s;
    float: right;
    cursor: pointer;
}
.publish:hover{
    background-color: #4f005f;
    color:white;
}
.editbtn{
    width: 200px;
    padding: 15px;
    margin-bottom:30px;
    margin-top: 20px;
    font-size: 20px;
    transition: 0.3s;
    float: right;
}
.editbtn:hover{
    background-color: #4f005f;
    color:white;
}