.SinupContainer{
    background-color:rgb(237, 244, 246);
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.content{
    background-color:#fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 80%;
    float: right;
    margin: 50px;
    margin-left: 550px;
}
.icon{
    text-align: center;
}
.sigupForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.email,
.password{
    width: 462px;
    height: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1.5px solid rgb(94, 95, 95);
}
.sigupbtn{
    width: 462px;
    height: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
}
.user{
    display: flex;
    gap: 10rem;
}
.user a{
    color: rgb(113, 192, 241);
    text-decoration: none;
}
.checkbox{
    float: left;
}
