.backLinks a{
    margin-left: 20px;
    padding: 5px;
    margin: 5px;
    color: black;
    text-align: center;
}

.mainContent{
    width: 70%;
    margin: auto;
    margin-top: 60px;
}
.auctionItemDetails{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.auctionImg{
    width: 400px;
    height: 500px;
    max-height: 500px;
    object-fit:cover;
    margin-left: 60px;
}
.auctionItemDescription{
    font-size: 16px;
    margin-top: 20px;
    width: 700px;
    height: 400px;
    line-break: auto;
    line-height: 35px;
    margin-bottom: 10px;
}
.readMoreBtn{
    width: 100px;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    transition: 0.3s;
    border-radius: 5px;
}
.readMoreBtn:hover{
    background-color: rgb(170, 193, 236);
}
.smallImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.registerBTN{
    width: 260px;
    padding:15px;
    font-size:19px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}
.registerBTN:hover{
    background-color: #4f005f;
    color:white;
}
/* CHANGE */
.auctionhardCode{
    width: 800px;
    height: 40px;
    margin: 10px;
}
.auctionTime{
    width:250px;
    height: 20px;
    margin: 5px;
}
.timeicon{
    width: 40px;
    height: 20px;
    border-radius: 70%;
}
.title{
    width: 280px;
    height: 40px;
}
.join{
    width: 300px;
    margin-bottom: 5px;
}
